#body{
    background-color: rgb(241, 227, 227);
}
#parent{
    flex-direction: row;
    display: flex;
    width: 800px;
    margin: 0 auto;
    margin-top: 10%;
   }
#child1{
    width: 200px;
    height: 350px;
    padding: 50px;
    background-color: hsl(31, 77%, 52%);
    line-height: 1.4;
    color: hsla(0, 0%, 100%, 0.75);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#child2{
    width: 200px;
    height: 350px;
    padding: 50px;
    background-color: hsl(184, 100%, 22%);
    line-height: 1.4;
    color: hsla(0, 0%, 100%, 0.75);
}
#child3{
    width: 200px;
    height: 350px;
    padding: 50px;
    background-color: hsl(179, 100%, 13%);
    line-height: 1.4;
    color: hsla(0, 0%, 100%, 0.75);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#learnmore{
    margin-top: 50px;
    border-radius: 20px;
    padding-right: 25px; 
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.learmore1{
    color:  hsl(31, 77%, 52%);
    background-color: hsla(0, 0%, 100%, 0.75);
    border: none;
    
}
.learmore1:hover{
    background-color: hsl(31, 77%, 52%);
    border: 2px solid hsla(0, 0%, 100%, 0.75);
    color: hsla(0, 0%, 100%, 0.75);
}
.learmore2{
    background-color: hsla(0, 0%, 100%, 0.75);
    color: hsl(184, 100%, 22%);
    border: none;
}
.learmore2:hover{
    background-color: hsl(184, 100%, 22%);
    border: 2px solid hsla(0, 0%, 100%, 0.75);
    color: hsla(0, 0%, 100%, 0.75);
}
.learmore3{
    color: hsl(179, 100%, 13%);
    background-color: hsla(0, 0%, 100%, 0.75);
    border: none;
}
.learmore3:hover{
    background-color: hsl(179, 100%, 13%);
    border: 2px solid hsla(0, 0%, 100%, 0.75);
    color: hsla(0, 0%, 100%, 0.75);
}
@media screen and (max-width: 900px){
    #parent{
    width: 40%;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    }
    #child1{
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px
    }
    #child3{
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px
    }
}
#button{
    padding-left: 15px, 20px, 15px, 20px;
    border-radius: 10px;
    background-color: rgb(119, 114, 153);
    font-size: 25px;
    font-weight: bold;
}
#img{
    height: 25px;
    width: 25px
    
}